.connection-view {
	width: 600px;
	margin: 100px auto;
	border: 1px solid #CCC;
	overflow: auto;
	border-radius: 8px;

	form {
		width: 50%;
		float: left;
		padding: 15px;
	}

	label, input {
		display: block;
	}

	label {
		margin-top: 10px;
	}

	input {
		width: 100%;
		font-size: 16px;
		border-radius: 4px;
		border: 1px solid #CCC;
		padding: 8px;
	}

	button {
		border-radius: 4px;
		padding: 8px 16px;
		font-size: 16px;
		outline: none;
		background-color: #FFF;
		border: 1px solid #CCC;
		cursor: pointer;

		margin-top: 10px;
	}
}
