@import "game";
@import "player-list";
@import "map";
@import "toast";
@import "connection-view";

* {
	box-sizing: border-box;
}

html, body, .view-container {
	height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;

	> div {
		height: 100%;
	}
}

input:not([type=checkbox]) {
	width: 100%;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #CCC;
	padding: 8px;
}

button {
	border-radius: 4px;
	padding: 8px 16px;
	font-size: 16px;
	outline: none;
	background-color: #FFF;
	border: 1px solid #CCC;
	cursor: pointer;

	margin-top: 10px;
}

.hidden {
	display: none;
}
