#player-list {
	width: 300px;
	height: 100%;
	background-color: #E6E6E6;
	border-right: 1px solid #979797;

	.player-list-item {
		height: 90px;
	}

	.armies-badge {
		width: 55px;
		height: 55px;
		float: left;
		text-align: center;
		border-radius: 50%;
		background: red;
		border: 1px solid #FFF;
		color: #FFF;
		font-size: 24px;
		padding-top: 5px;
		box-sizing: border-box;

		.armies-count {
			font-size: 12px;
			opacity: 0.79;
		}
	}
}
