.toast-container {
	pointer-events: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	.toast {
		width: 300px;
		text-align: center;
	}
}
