<form class="connect-form">
	<h2>Connect to a host</h2>
	<label for="player-name">Player name</label>
	<input type="text" id="player-name" required>
	<label for="connection-host">Hostname</label>
	<input type="text" id="connection-host" value="localhost" required>
	<label for="connection-port">Port</label>
	<input type="number" id="connection-port" value="7475" required>
	<label><input type="checkbox" id="connection-ai"> Use AI</label>
	<button type="submit" class="connect-button">Connect</button>
</form>
<form class="host-form">
	<h2>Start a server</h2>
	<label for="host-player-name">Player name</label>
	<input type="text" id="host-player-name" required>
	<label for="host-port">Port: </label>
	<input type="number" id="host-port" value="7475" required>
	<button type="submit" class="host-button">Launch</button>
</form>
