<div id="player-list"></div>
<div id="map"></div>
<div id="army-count-select"></div>
<div id="card-select"></div>
<button id="attack-end-button" class="hidden">Done attacking</button>
<button id="no-fortify-button" class="hidden">Don't fortify</button>
